In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
In this notebook, we will explore various tools, languages, and libraries that are commonly used in the field of Data Science. We'll also perform some simple arithmetic operations using Python.

In [ ]:
## Commonly Used Languages in Data Science:
- Python
- R
- SQL
- Julia
- Scala

In [ ]:
## Popular Data Science Libraries:
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras

In [ ]:
## Data Science Tools

| Tool              | Description                    |
|-------------------|--------------------------------|
| Jupyter Notebook  | Interactive code notebook      |
| RStudio           | IDE for R                      |
| Apache Spark      | Big data processing framework  |
| TensorFlow        | Deep learning library          |
| Tableau           | Data visualization tool        |

In [ ]:
## Examples of Arithmetic Expressions in Python

In this section, we demonstrate how to use Python to perform simple arithmetic operations such as addition and multiplication.

In [1]:
# This will multiply 3 by 4 and then add 5
result = (3 * 4) + 5
print("Result:", result)

Result: 17

In [2]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
print("Hours:", hours)

Hours: 3.3333333333333335

In [ ]:
## Objectives of this Notebook:
- Learn about Data Science languages and libraries
- Practice markdown formatting
- Perform basic arithmetic operations in Python
- Learn how to use Jupyter Notebook for documentation and coding

In [ ]:
**Author:** Ruchika